<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Bibotify giriş sayfası</title>
    <link rel="stylesheet" href="/css/style_log.css">
    <link rel="stylesheet" href="/bootstrap-5/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
</head>
<body class="bg-siyah">
    <div class="center">
        <h1>Giriş</h1>
        <form method="post">
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label>Kullancı Adı</label>
            </div>

            <div class="txt_field">
                <input type="password" required>
                <span></span>
                <label>Şifre</label>
            </div>


            <div class="pass">Şifreyi mi unuttun?</div>
            <input type="submit" value="Giriş yap">
            <div class="signup_link">
                Üye değil misin? <a href="kayıt">Kaydol</a>
            </div>
        </form>
    </div>

</body>
</html>
