<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Bibotify kaydolma sayfası</title>
    <link rel="stylesheet" href="/css/style_reg.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="/bootstrap-5/css/bootstrap.css">
</head>
<body class="bg-siyah">

    <div class="center">
        <h1>
            Kayıt ol<h1>
                <form method="post">
                    <div class="txt_field">
                        <input type="text" required>
                        <span></span>
                        <label>Kullanıcı adı</label>
                    </div>


                    <div class="txt_field">
                        <input type="email" required>
                        <span></span>
                        <label>E-mail</label>
                    </div>


                    <div class="txt_field">
                        <input type="password" required>
                        <span></span>
                        <label>Şifre</label>
                    </div>

                    <div class="txt_field">
                        <input type="password" required>
                        <span></span>
                        <label>Şifreyi onayla</label>
                    </div>





                    <input type="submit" value="Sign Up">
                    <div class="signup_link">
                        Zaten üye misin? <a href="giris">Giriş yap</a>
                    </div>
            </form>
    </div>

</body>
</html>
